$Mont-font: 'Mont ExtraLight DEMO';
$Mont-bold-font: 'Mont Heavy DEMO';
$Inter-font:"Inter", sans-serif;
$Regular-font: 'Regular Brush';
$Space-font: "Space Grotesk", sans-serif;
$NexaBlack-font: 'NexaBlack';
$Satisfy-font: "Satisfy", cursive;
$Uni-font : 'Uni Sans';
$Montserrat-font  :"Montserrat", sans-serif;
$Nolan-font: "Nolan";
$Metropolis-font : 'Metropolis';
$primary-color: #F60; 